.app.dark {
	--bg-color: rgba(80, 84, 93, 1);
	--inverted-bg-color: rgba(233, 233, 229, 1);

	--primary-color: rgba(255, 255, 255, 1);
	--secondary-color: rgba(255, 255, 255, .7);
	--inverted-primary-color: rgba(0, 0, 0, 1);
	--inverted-secondary-color: rgba(0, 0, 0, .7);
}
